.page {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.dbNameContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    font-size: 20px;
}

.dbName {
    font-size: 50px;
    font-weight: bold;
}

.actionsContainer {
    margin-top: 50px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: min-content;
}

.newDbContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.dbNameInput {
    font-family: inherit;
    font-size: inherit;
    padding: 3px 5px;
    border: 1px solid black;
}

.button {
    font-family: inherit;
    font-size: inherit;
    padding: 3px 5px;
    border: 3px solid black;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.fullWidth {
    width: 100%;
}